.red {
  background-color: #ec5a48;
}
.yellow {
  background-color: #f3bf13;
}
.blue {
  background-color: #13c9f3;
}
.pink {
  background-color: #ff63d0;
}
.show {
  display: block !important;
}
body {
  background-color: #e5e5e5;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 400;
}
strong {
  font-weight: 700;
}
h1,
h2 {
  font-family: 'Fjord One', Georgia, serif;
  color: #333;
  margin-bottom: 0px;
}
body > h2 {
  text-align: center;
  width: 100%;
}
ul,
li {
  display: block;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
input,
select,
textarea,
a {
  outline: 0 !important;
}
a#burger {
  position: absolute;
  display: block;
  color: #333;
  top: 10px;
  left: 20px;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid transparent;
}
a#burger i {
  font-size: 20px;
}
a#burger:hover {
  border: 1px solid #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#profile {
  position: absolute;
  display: block;
  right: 20px;
  top: 20px;
}
a.ava {
  width: 35px;
  height: 35px;
  display: block;
  background-color: #eee;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
a.ava img {
  width: 35px;
  height: 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
a.ava i {
  display: block;
  position: absolute;
  font-size: 24px;
  top: -1px;
  left: 1px;
  color: #fff;
}
a.ava.logout i {
  display: none;
}
a.ava.logout:hover {
  background-color: #ec5a48;
}
a.ava.logout:hover img {
  display: none;
}
a.ava.logout:hover i {
  display: block;
}
a.btn {
  box-sizing: border-box;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 11px;
  color: #333;
  border: 1px solid #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
a.btn:hover {
  background-color: #333;
  color: #fff;
}
form a.btn {
  margin-top: 10px;
}
ul.menu {
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #efefef;
}
p.error {
  color: #ec5a48;
}
#profile-wrapper {
  display: block;
  position: absolute;
  width: 300px;
  height: 50px;
  top: 0;
  right: 0;
  padding: 0 20px;
}
#profile-wrapper p {
  display: block;
  float: right;
  margin: 20px 0 0 20px;
}
#home-wrapper {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
#home-wrapper p {
  margin: 10px 0 20px 0;
}
#home-wrapper img.logo {
  margin-top: 80px;
}
img.logo {
  width: 60px;
}
#login-wrapper {
  display: block;
  width: 400px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
#login-wrapper img.logo {
  margin-top: 80px;
}
#login-wrapper a.btn {
  display: block;
  margin-top: 40px;
}
#login-wrapper input {
  text-align: center;
}
.textinput {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #aeaeae;
  color: #333;
  font-size: 14px;
  margin: 10px 0;
  min-height: 35px;
}
.notification-form {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  display: none;
}
.notification-form select {
  width: 20%;
  margin: 0 4% 0 0;
  height: 35px;
  border: none;
  float: left;
}
.notification-form textarea {
  height: 20px;
  width: 73%;
  margin: 0;
  resize: none;
}
.notification-form .btn {
  float: right;
  margin: 20px 20px 20px 0;
}
#notifications {
  display: block;
  position: relative;
  width: 90%;
  max-width: 700px;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
#notifications .logo {
  margin: 0 auto;
}
#notifications p.actions {
  width: 100%;
  text-align: left;
  margin: 10px 0;
}
#notifications p.actions a.btn.fancy {
  display: inline-block;
  margin: 10px 0;
  text-align: center;
}
#notifications ul {
  width: 100%;
  height: auto;
  list-style-type: none;
  clear: both;
}
#notifications ul li {
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 15px 0;
}
#notifications ul li p {
  display: block;
  float: left;
  margin: 0;
  font-size: 14px;
}
#notifications ul li p.time {
  width: 130px;
  color: #a0a0a0;
  font-size: 12px;
  margin-left: -130px;
  margin-top: 15px;
  position: absolute;
  text-align: left;
}
#notifications ul li p.message {
  width: 98%;
  background-color: #efefef;
  border: 1px solid #cfcfcf;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  box-shadow: 0 2px 0 rgba(215,215,215,0.5);
  box-sizing: border-box;
  padding: 6px 20px 0 8px;
  min-height: 45px;
  text-align: left;
}
#notifications ul li p.message i {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 20px;
  color: #fff;
  box-sizing: border-box;
  padding: 1px;
}
#notifications ul li p.message .text {
  width: 90%;
  display: block;
  line-height: 1.5;
  float: left;
  margin: 5px 0 10px 15px;
}
#notifications ul li a.ava {
  position: absolute;
  right: -20px;
  margin-top: 5px;
}
a.btn.fancy {
  display: block;
  height: 30px;
  background-color: #7ac7c5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 1px 0 rgba(34,117,115,0.64);
  box-sizing: border-box;
  padding: 7px 15px;
  color: #1b6967;
}
a.btn.fancy i {
  margin-left: -5px;
}
a.btn.fancy:hover {
  color: #1b6967;
  background-color: #7cd6d4;
}
