@font-face {
  font-family: 'megaphone_icons';
  src: url('../font/megaphone_icons.eot?88599672');
  src: url('../font/megaphone_icons.eot?88599672#iefix') format('embedded-opentype'),
       url('../font/megaphone_icons.woff?88599672') format('woff'),
       url('../font/megaphone_icons.ttf?88599672') format('truetype'),
       url('../font/megaphone_icons.svg?88599672#megaphone_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'megaphone_icons';
    src: url('../font/megaphone_icons.svg?88599672#megaphone_icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "megaphone_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-spin5:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-plus-circled:before { content: '\e803'; } /* '' */
.icon-minus-circled:before { content: '\e804'; } /* '' */
.icon-ok:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-circle:before { content: '\e807'; } /* '' */
.icon-circle-empty:before { content: '\e808'; } /* '' */
.icon-menu:before { content: '\e809'; } /* '' */
.icon-bell:before { content: '\e80a'; } /* '' */
.icon-heart:before { content: '\e80b'; } /* '' */
.icon-heart-empty:before { content: '\e80c'; } /* '' */
.icon-star:before { content: '\e80d'; } /* '' */
.icon-star-empty:before { content: '\e80e'; } /* '' */
.icon-child:before { content: '\e80f'; } /* '' */
.icon-alert:before { content: '\e810'; } /* '' */
.icon-megaphone:before { content: '\e811'; } /* '' */
.icon-fire-station:before { content: '\e812'; } /* '' */
.icon-restaurant:before { content: '\e813'; } /* '' */
.icon-glass:before { content: '\e814'; } /* '' */
.icon-lightbulb:before { content: '\e815'; } /* '' */
.icon-megaphone-1:before { content: '\e816'; } /* '' */
.icon-calendar-empty:before { content: '\e817'; } /* '' */
.icon-power:before { content: '\e818'; } /* '' */