{% extends 'main.jinja2' %}
{% block view %}
    <div id="home-wrapper">
        <img class="logo" src="/static/img/loudspeaker.svg">
        <h1>Notifications for teams</h1>
        <p>Demo web app based on aiohttp.web and React</p>
        <p><a class="btn" href="{{ app.router['login'].url() }}">Start demo</a></p>
    </div>
{% endblock %}