{% extends "main.jinja2" %}
{%  block view %}
    <div id="login-wrapper">
        <a href="{{ app.router['home'].url() }}">
            <img class="logo" src="/static/img/loudspeaker.svg">
        </a>
        <h1>Login</h1>
        <form id="login-form" action="{{ app.router['submit_login'].url() }}" method="post">
            <input class="textinput" type="text" name="email" placeholder="Email">
            <input class="textinput" type="password" name="password" placeholder="Password">
            <a class="btn" href="#" onclick="document.getElementById('login-form').submit()">Login</a>
        </form>
        <p class="error">{{ error }}</p>
        <p>{{ result }}</p>
    </div>
{% endblock %}