<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/animation.css">
    <link rel="stylesheet" type="text/css" href="/static/css/megaphone_icons.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fjord+One' rel='stylesheet' type='text/css'>
    <title>
        {% block title %}
            Megaphone
        {% endblock %}
    </title>
</head>
<body>
    <a id="burger" href="#"><i class="icon-menu"></i></a>
    <div id="profile">
        <!--<a class="btn" href="{{ app.router['login'].url() }}">Login</a>-->
        <a class="ava logout" href="{{ app.router['logout'].url() }}">
            <img src="/static/img/avas/eugene.png">
            <i class="icon-power"></i>
        </a>
    </div>
    {% block menu %}
        <!--<ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="{{ app.router['notifications'].url(parts={'team_slug':'demo-team'}) }}">Demo</a></li>
            <li><a href="#">GitHub</a></li>
        </ul>-->
    {% endblock %}
    {% block view %}
    {% endblock %}
</body>
<script src="/static/scripts/vendor/jquery.min.js"></script>
<script src="/static/scripts/main.js"></script>
</html>