{% extends 'main.jinja2' %}

{% block title %}
    Notifications
{% endblock %}

{% block view %}
    <div id="notifications">
        <form id="notification-form" action="/api/demo-team/notifications/add" method="POSTnpm">
            <select id="notification-type" name="type">
                <option value="Important">Important</option>
                <option value="Lunchtime">Lunch</option>
                <option value="Information">Information</option>
                <option value="Party">Party</option>
            </select>
            <textarea id="notification-text" name="message"></textarea>
            <input type="submit" id="notification-submit" value="Add notification">
        </form>
        <ul>
            {% for item in n_list %}
                <li>
                 <p class="time">{{ item.creation_date.strftime('%-H:%M') }}</p>
                 <p class="type">{{ item.type }}</p>
                 <p class="text">{{ item.message }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="profile-wrapper">
        <p>Username</p>
        <p><a href="#">Logout</a></p>
    </div>
{% endblock %}