{% extends 'main.jinja2' %}

{% block title %}
    Notifications
{% endblock %}

{% block view %}
    <div id="notifications">
        <a href="{{ app.router['home'].url() }}">
            <img class="logo" src="/static/img/loudspeaker.svg">
        </a>
        <div id="app-view"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/scripts/main.js"></script>
    <!--<script src="/static/scripts/connection.js"></script>-->
{% endblock %}

